@model IEnumerable<DepositoComputadores.Entidades.Equipamento>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">Pesquisa de Equipamentos</div>
    <div class="card-body">
        <form action="/Equipamentos/Index" method="get">
            <div class="row">
                <div class="col-2">
                    <a href="/Equipamentos/Create" class="btn btn-success">
                        Novo Equipamento
                    </a>
                </div>
                <div class="col-3">
                    <select name="tipoPesquisa" class="form-control">
                        <option value="Todos">Todos</option>
                        <option value="patrimonio">Nº Patrimônio</option>
                        <option value="descricao">Descricao</option>
                    </select>
                </div>
                <div class="col-3">
                    <input type="text" name="texto" class="form-control" placeholder="Digite sua busca aqui" />
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
               Id
            </th>
            <th>
                Descrição do Equipamento
            </th>
            <th>
                Local armazenado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @item.Local.Descricao
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
